
#direita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 2px black;
    padding: 12px;
    height: 150px;
    width: 200px;
    border-radius: 20px;
    box-shadow:0 2px 5px gray;
}

input {
    margin: 5px;
    padding: 3px;
}

h3 {
    margin: 2px;
}