header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-shadow:0 2px 5px rgb(19, 19, 19);
    background-color:rgba(226, 215, 210, 0.651);
}